div.wrapper {
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  margin: auto;
}